<!DOCTYPE html>
<html>
    <head>
        <title>Lewdle Game</title>
        <meta charset="UTF-8">
    </head>
    <body>
        
        <h1>word Length : {{ data[1] }}</h1>
        <label>
            <li id="1">

            </li>
            <li id="2">
                
            </li>
            <li id="3">

            </li>
            <li id="4">

            </li>
            <li id="5">

            </li>
            <li id="6">

            </li>
        </label>
        <input maxlength="{{data[1]}}" id="wordG" name="wordG">
        <button id="submit" type="button" onclick="Wcheck()">提交答案</button>
        <script type="text/javascript">
            
            var _greenTag="<nobr style=\"color: rgb(0, 193, 32)\">";
            var _yellowTag="<nobr style=\"color: rgba(255, 196, 0, 0.947)\">";
            var _greyTag = "<nobr style=\"color: grey;\">";
            var _endTag="</nobr>";
            var globalNum=0;
            var result='';
            var ans="{{ data[0] }}";
            var _ok=true;//是否输入了正确的单词
            function Wcheck(){
                _ok=true;
                var value = document.getElementById("wordG").value.toString();
                if(value.length != ans.length){
                    alert("不正确的单词长度");
                    return;
                }
                let _xhr = new XMLHttpRequest();
                var _host = location.origin;
                _xhr.open("POST",_host +"/checkValid");
                _xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                _xhr.send("word="+value);
                _xhr.onreadystatechange = function(){
                    if(_xhr.readyState === 4 && _xhr.status === 200){
                        if(_xhr.responseText !="1"){
                            globalNum--;
                            value="      ";
                            alert("不存在的单词");
                            return;
                        }
                    }
                }
                let xhr = new XMLHttpRequest();
                var _lnk = _host + "/lewdle";
                xhr.open("POST",_lnk);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("word="+ "{{ data[0] }}" + "&predict=" + value);
                // 以下开始监听
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        globalNum++;
                        if(globalNum == 6 && xhr.responseText != "11111"){
                            alert("the result is " + "{{ data[0] }}");
                            alert("mean: \n"+ "{{data[2] }}");
                            document.getElementById("wordG").setAttribute("readOnly", "true");
                            document.getElementById("submit").disabled = true;
                            return ;
                        }
                        console.log(xhr.responseText);
                        if(xhr.responseText.toString() =="11111"){
                            alert("right");
                            var mean="{{data[2]}}";
                            alert("mean: \n"+ mean.replace('^','\n'));
                            document.getElementById("wordG").setAttribute("readOnly", "true");
                            document.getElementById("submit").disabled = true;
                            return ;
                        }
                        else {
                            result = xhr.responseText.toString();
                            var returnValue="";
                            for(var i=0;i<ans.length;i++){
                                if(result[i]=="1"){
                                    returnValue+=_greenTag;

                                }else if(result[i]=="2" ){
                                    returnValue +=_yellowTag;
                                }else{
                                    returnValue+=_greyTag;
                                }
                                returnValue+=value[i];
                                returnValue+=_endTag;
                                // alert(returnValue);
                            }
                            document.getElementById(globalNum.toString()).innerHTML =  returnValue;//unfinished

                        }
                    }
                }
            }
        </script>
    </body>
</html>